.hc-listbottomFrame{
    width: 100%;
    position:absolute;
    bottom: 0%;
    height: 51px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hc-listaddIcon{
    font-size: xx-large;
    font-weight: bolder;
}
.hc-listaddButton{
    width: 65%;
    height: 40px;
    font-size: small;
    font-weight: bold;
    --background: #6E2798;
}
.hc-listsearchInputFrame{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}
.hc-listcontainer{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:5px;
    transition: 0.5s;
}
.hc-listoutsideFrame{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    overflow: hidden;
    font-size: medium;
    font-weight: bold;
    position: relative;
    margin: auto;
    width: 98%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.1);
}
.hc-listleftFrame{
    width: 6%;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-color: orange;
    background-color: #6E2798;
    color: orange;
    min-height: 150px;
}
.hc-listfisNo{
    font-size: medium;
    font-weight: bold;
    writing-mode: vertical-rl;
}
.hc-listrightFrame{
    position: absolute;
    height: 100%;
    width: 6%;
    justify-content: center;
    align-items: center;
    display: inline-block;
    top: 0%;
    right: 0%;
    text-align: center;
    display: flex;
    border-style: solid;
    border-width: 0px;
    border-left-width: 1px;
    border-color: orange;
    background-color: #6E2798;
    color: orange;
}

.hc-listmiddleFrame{
    width: 74%;
    display: flex;
    
    color: black;
    flex-direction: column;
}
.hc-listfisInfoFrame{
    height: 75%;
    width: 100%;
    display: flex;
    transition: 0.5s;
}
.hc-listtopFrame{
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hc-listinsideFrames{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
    flex:1;
    height: 90%;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
}
.hc-listbaslik{
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: small;
    font-weight: 200;
}
.hc-listicerik{
    height: 50%;
    font-size: small;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}
.hc-topRigthText{
    opacity: 0;
    transition: 0.5s;
    height: 50%;
    font-size: small;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}
.hc-listcariAd{
    transition: 0.5s;
    font-weight: bolder;
    color: #6E2798;
    font-size: medium;
}
.hc-listtarih{
    font-weight: bold;
    font-size: small;

}
.hc-listinsideFrame{
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}
.hc-listselection{
    height: 100%;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-color:rgba(255,255,255,0.5);
    flex: 0.7;
    display: flex;
    font-size: x-large;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    color: white;
}
.hc-listselectionMenu:has(.selection:hover){
    background-color: #fc9c1c;
}
.hc-listselectionIcons{
    min-height: 50%;
    display: flex;
    color: white;
    font-size: x-large;
    transition: 0.5s;
}
.hc-listselectionLabels{
    min-height: 50%;
    display: flex;
    color: white;
    font-size: small;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.hc-listselectionMenu{
    position: absolute;
    display: flex;
    width: 0%;
    right: 6%;
    height: 75%;
    color:white;
    background-color: #6E2798;
    bottom: 0%;
    transition: 0.5s;
    visibility: hidden;
    justify-content: center;
    align-items:center;
    opacity: 0;
}
.hc-listrightFrameTop{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-color: #fc9c1c;
    color:  #6E2798;
    right: 0%;
    bottom: 0%;
    background-color: #6E2798;
    position: absolute;
    opacity: 0;
}
.hc-listrightFrame:hover ~ .hc-listselectionMenu{
    width: 74%;
    visibility: visible;
    opacity: 1;
}
.hc-listrightFrame:hover ~ .hc-listmiddleFrame > .hc-listfisInfoFrame{
    opacity: 0;
}
.hc-listrightFrame:hover ~ .hc-listmiddleFrame > .hc-listtopFrame > .hc-topRigthText{
    opacity: 1;
}
.hc-listrightFrame:hover ~ .hc-listmiddleFrame{
    background-color: white;
}
.hc-listcariAd{
    transition: 0.5s;
    font-weight: bolder;
    color: #6E2798;
    font-size: medium;
}
.hc-listtarih{
    transition: 0.5s;
    font-weight: bold;
    font-size: small;
    margin-right: 5px;
}
.hc-bottomInfoFrame{
    position: absolute;
    width: 88%;
    display: flex;
    height: 30%;
    bottom:0%;
    right: 6%;
    flex-direction: row;
    font-size: x-small;
    font-weight: bolder;
}
.hc-gonderButton{
    background-color:#6E2798;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.hc-listCariLeftFrame{
    font-size: 50px;
    color: white;
    min-height: 80px;
    min-width: 20%;
}

// style="min-height: fit-content;height: fit-content;width: 20%;aspect-ratio: 1;"