<ion-header>
  
</ion-header>

<ion-content>
    <div class="hc-listcontainer">
      <div class="hc-listoutsideFrame">
        <div class="hc-listleftFrame hc-listCariLeftFrame">
          <ion-icon name="person"></ion-icon>
        </div>
        <div class="hc-listrightFrame">
          <ion-icon class="hc-listoptions" name="ellipsis-vertical"></ion-icon>
        </div>
        <div class="hc-listmiddleFrame" style="width: 74%;" (click)="cariClick()">
          <div class="hc-listtopFrame" style="margin: auto;width:95%">
            <ion-label class="hc-listcariAd">
              Yasin Öztaş
            </ion-label>
            <ion-label class="hc-topRigthText">
              Bakiye: 123123$
            </ion-label>
          </div>
          <div class="hc-listfisInfoFrame" style="margin-top: 0%;height: 75%;">
            <div class="hc-listinsideFrames" style="border-width: 0px;height: 90%;">
              <ion-label class="hc-listbaslik">
                Bakiye
              </ion-label>
              <ion-label class="hc-listicerik">
                123123$
              </ion-label>
            </div>
          </div>
        </div>
        <div class="hc-cariSelectionMenu">
          <div class="hc-listinsideFrames" style="height: 90%;">
            <ion-icon class="hc-listselectionIcons" name="pencil"></ion-icon>
            <ion-label class="hc-listselectionLabels">Düzenle</ion-label>
          </div>
          <div class="hc-listinsideFrames" style="height: 90%;">
            <ion-icon class="hc-listselectionIcons" name="trash"></ion-icon>
            <ion-label class="hc-listselectionLabels">Sil</ion-label>
          </div>
          <div class="hc-listinsideFrames" style="height: 90%;">
            <ion-icon class="hc-listselectionIcons" name="newspaper"></ion-icon>
            <ion-label class="hc-listselectionLabels">Cari Hareketleri</ion-label>
          </div>
          <div class="hc-listinsideFrames" style="height: 90%;border-width: 0px">
            <ion-icon class="hc-listselectionIcons" style="display: block;" name="mail"></ion-icon>
            <ion-label class="hc-listselectionLabels">Mail Gönder</ion-label>
          </div>
        </div>
      </div>
    </div>
</ion-content>
