<ion-header>
  
</ion-header>

<ion-content>
    <div class="hc-listcontainer">
      <div class="hc-listoutsideFrame">
        <div class="hc-listleftFrame hc-listCariLeftFrame">
          <ion-icon name="person"></ion-icon>
        </div>
        <div class="hc-listrightFrame">
          <ion-icon class="hc-listoptions" name="ellipsis-vertical"></ion-icon>
        </div>
        <div class="hc-listmiddleFrame">
          <div class="hc-listtopFrame" style="height:25%;width: 94%;">
            <ion-label class="hc-listcariAd">
              Yasin Öztaş
            </ion-label>
            <ion-label class="hc-topRigthText">
              Bakiye: 123123$
            </ion-label>
          </div>
          <div class="hc-listfisInfoFrame">
            <div class="hc-listinsideFrames" style="border-width: 0px">
              <ion-label class="hc-listbaslik">
                Bakiye
              </ion-label>
              <ion-label class="hc-listicerik">
                123123$
              </ion-label>
            </div>
          </div>
        </div>
        <div class="hc-listselectionMenu" style="justify-content: center;align-items:center">
          <div class="hc-listinsideFrames">
            <ion-icon class="hc-listselectionIcons" name="pencil"></ion-icon>
            <ion-label class="hc-listselectionLabels">Düzenle</ion-label>
          </div>
          <div class="hc-listinsideFrames">
            <ion-icon class="hc-listselectionIcons" name="trash"></ion-icon>
            <ion-label class="hc-listselectionLabels">Sil</ion-label>
          </div>
          <div class="hc-listinsideFrames">
            <ion-icon class="hc-listselectionIcons" name="newspaper"></ion-icon>
            <ion-label class="hc-listselectionLabels">Cari Hareketleri</ion-label>
          </div>
          <div class="hc-listinsideFrames" style="border-width: 0px">
            <ion-icon class="hc-listselectionIcons" style="display: block;" name="mail"></ion-icon>
            <ion-label class="hc-listselectionLabels">Mail Gönder</ion-label>
          </div>
        </div>
      </div>
    </div>
</ion-content>
