<ion-content>
  <div class="hc-headerContainer">
    <div class="hc-cekTopFrame" style="border-width: 0px;">
      <div class="hc-listleftFrame hc-listCariLeftFrame hc-cekTopLeftFrame">
        <ion-img style="height: 100px;" src="assets/images/person.svg"></ion-img>
        <ion-label class="hc-listcariAd">Cari Ad</ion-label>
      </div>
      <div class="hc-listmiddleFrame hc-cekMiddleFrame">
        <div class="hc-lines hc-cekToplines">
          <ion-label class="hc-cekText">İlçe/Şehir</ion-label>
          <ion-label class="hc-cekText" style="font-weight:bolder;color: #6E2798;">Mersin Yenişehir</ion-label>
        </div>
        <div class="hc-lines hc-cekToplines">
          <ion-label class="hc-cekText">Vergi Dairesi</ion-label>
          <ion-label class="hc-cekText" style="font-weight:bolder;color: #6E2798;">19 Mayıs </ion-label>
        </div>
        <div class="hc-lines hc-cekToplines">
          <ion-label class="hc-cekText">Telefon</ion-label>
          <ion-label class="hc-cekText" style="font-weight:bolder;color: #6E2798;">5555555555</ion-label>
        </div>
        <div class="hc-lines hc-cekToplines">
          <ion-label class="hc-cekText">Adres</ion-label>
          <ion-label class="hc-cekText" style="font-weight:bolder;color: #6E2798;">Test Adres</ion-label>
        </div>
      </div>
    </div>
    <div class="hc-caribottomLine">
      <ion-label>Bakiye:</ion-label>
      <ion-label class="hc-listcariAd" style="color: #6E2798;margin-right: 10px;">0$</ion-label>
    </div>
  </div>
  <div class="hc-buttonContainer">
    <ion-button class="hc-addButton">
      <ion-label>
        Cari Hareketleri
      </ion-label>
    </ion-button>
  </div>
  <div class="hc-listcontainer" style="margin-top: 10px;">
    <div class="hc-listoutsideFrame" style="width: 90%;">
      <div class="hc-listmiddleFrame" style="margin: auto;width: 90%;">
        <div class="hc-listtopFrame hc-centeredTop">
          <ion-label class="hc-listcariAd">Fatura Toplamları</ion-label>
        </div>
        <div class="hc-listfisInfoFrame" style="flex-direction: column;gap:10px;margin-top: 10px;">
          <div class="hc-lines">
            <ion-label class="hc-text">Alış</ion-label>
            <ion-label class="hc-text" style="font-weight: bold;">0$</ion-label>
          </div>
          <div class="hc-lines">
            <ion-label class="hc-text">Satış</ion-label>
            <ion-label class="hc-text" style="font-weight: bold;">0$</ion-label>
          </div>
        </div>
        <div style="height: 10px;"></div>
      </div>
      <div class="hc-listrightFrame" style="width: fit-content;position: relative;height: auto;">
        <button class="hc-cariAddButton">
          <ion-icon class="hc-addIcon" name="add"></ion-icon>
        </button>
      </div>
    </div>
    <div class="hc-listoutsideFrame" style="width: 90%;">
      <div class="hc-listmiddleFrame" style="margin: auto;width: 90%;">
        <div class="hc-listtopFrame hc-centeredTop">
          <ion-label class="hc-listcariAd">İrsaliye Toplamları</ion-label>
        </div>
        <div class="hc-listfisInfoFrame" style="flex-direction: column;gap:10px;margin-top: 10px;">
          <div class="hc-lines">
            <ion-label class="hc-text">Alış</ion-label>
            <ion-label class="hc-text" style="font-weight: bold;">0$</ion-label>
          </div>
          <div class="hc-lines">
            <ion-label class="hc-text">Satış</ion-label>
            <ion-label class="hc-text" style="font-weight: bold;">0$</ion-label>
          </div>
        </div>
        <div style="height: 10px;"></div>
      </div>
      <div class="hc-listrightFrame" style="width: fit-content;position: relative;height: auto;">
        <button class="hc-cariAddButton">
          <ion-icon class="hc-addIcon" name="add"></ion-icon>
        </button>
      </div>
    </div>
    <div class="hc-listoutsideFrame" style="width: 90%;">
      <div class="hc-listmiddleFrame" style="margin: auto;width: 90%;">
        <div class="hc-listtopFrame hc-centeredTop">
          <ion-label class="hc-listcariAd">Sipariş Toplamları</ion-label>
        </div>
        <div class="hc-listfisInfoFrame" style="flex-direction: column;gap:10px;margin-top: 10px;">
          <div class="hc-lines">
            <ion-label class="hc-text">Alış</ion-label>
            <ion-label class="hc-text" style="font-weight: bold;">0$</ion-label>
          </div>
          <div class="hc-lines">
            <ion-label class="hc-text">Satış</ion-label>
            <ion-label class="hc-text" style="font-weight: bold;">0$</ion-label>
          </div>
        </div>
        <div style="height: 10px;"></div>
      </div>
      <div class="hc-listrightFrame" style="width: fit-content;position: relative;height: auto;">
        <button class="hc-cariAddButton">
          <ion-icon class="hc-addIcon" name="add"></ion-icon>
        </button>
      </div>
    </div>
    <div class="hc-listoutsideFrame" style="width: 90%;">
      <div class="hc-listmiddleFrame" style="margin: auto;width: 90%;">
        <div class="hc-listtopFrame hc-centeredTop">
          <ion-label class="hc-listcariAd">Kasa Toplamları</ion-label>
        </div>
        <div class="hc-listfisInfoFrame" style="flex-direction: column;gap:10px;margin-top: 10px;">
          <div class="hc-lines">
            <ion-label class="hc-text">Alış</ion-label>
            <ion-label class="hc-text" style="font-weight: bold;">0$</ion-label>
          </div>
          <div class="hc-lines">
            <ion-label class="hc-text">Satış</ion-label>
            <ion-label class="hc-text" style="font-weight: bold;">0$</ion-label>
          </div>
        </div>
        <div style="height: 10px;"></div>
      </div>
      <div class="hc-listrightFrame" style="width: fit-content;position: relative;height: auto;">
        <button class="hc-cariAddButton">
          <ion-icon class="hc-addIcon" name="add"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</ion-content>