<ion-content>
  <ng-container topFrame>
    <div class="hc-headerContainer">
      <div class="hc-cekTopFrame" style="border-width: 0px;">
        <div class="hc-listleftFrame hc-listCariLeftFrame hc-cekTopLeftFrame">
          <ion-img style="height: 100px;" src="assets/images/person.svg"></ion-img>
          <ion-label class="hc-listcariAd">Cari Ad</ion-label>
        </div>
        <div class="hc-listmiddleFrame hc-cekMiddleFrame">
          <div class="hc-lines hc-cekToplines">
            <ion-label class="hc-cekText">İlçe/Şehir</ion-label>
            <ion-label class="hc-cekText" style="font-weight:bolder;color: #6E2798;">Mersin Yenişehir</ion-label>
          </div>
          <div class="hc-lines hc-cekToplines">
            <ion-label class="hc-cekText">Vergi Dairesi</ion-label>
            <ion-label class="hc-cekText" style="font-weight:bolder;color: #6E2798;">19 Mayıs </ion-label>
          </div>
          <div class="hc-lines hc-cekToplines">
            <ion-label class="hc-cekText">Telefon</ion-label>
            <ion-label class="hc-cekText" style="font-weight:bolder;color: #6E2798;">5555555555</ion-label>
          </div>
          <div class="hc-lines hc-cekToplines">
            <ion-label class="hc-cekText">Adres</ion-label>
            <ion-label class="hc-cekText" style="font-weight:bolder;color: #6E2798;">Test Adres</ion-label>
          </div>
        </div>
      </div>
      <div class="hc-caribottomLine">
        <ion-label>Bakiye:</ion-label>
        <ion-label class="hc-listcariAd" style="color: #6E2798;margin-right: 10px;">0$</ion-label>
      </div>
    </div>
  </ng-container>
  <ng-container buttonFrame>
    <div class="hc-buttonContainer">
      <ion-button class="hc-addButton">
        <ion-label>
          Cari Hareketleri
        </ion-label>
      </ion-button>
    </div>
  </ng-container>
  <ng-container faturaToplamları>
    <ion-card>
      <ion-card-content class="hcCardContent">
        <ion-row class="hcRows">
          <!-- <ion-col class="bgM" style="max-width: 20px;"></ion-col> -->
          <ion-col>
            <ion-row style="justify-content: center;">
              <ion-col size="12" class="hcSatisCol">
                <ion-label class="MpurpleB">Fatura Toplamları</ion-label>
              </ion-col>
              <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                <ion-label>Alış</ion-label>
                <ion-label class="SblackB">0000$</ion-label>
              </ion-col>
              <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                <ion-label>Satış</ion-label>
                <ion-label class="SblackB">0000$</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="bgM" style="max-width: 20px;"></ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container irsaliyeToplamları>
    <ion-card>
      <ion-card-content class="hcCardContent">
        <ion-row class="hcRows">
          <!-- <ion-col class="bgM" style="max-width: 20px;"></ion-col> -->
          <ion-col>
            <ion-row style="justify-content: center;">
              <ion-col size="12" class="hcSatisCol">
                <ion-label class="MpurpleB">İrsaliye Toplamları</ion-label>
              </ion-col>
              <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                <ion-label>Alış</ion-label>
                <ion-label class="SblackB">0000$</ion-label>
              </ion-col>
              <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                <ion-label>Satış</ion-label>
                <ion-label class="SblackB">0000$</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="bgM" style="max-width: 20px;"></ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container siparişToplamları>
    <ion-card>
      <ion-card-content class="hcCardContent">
        <ion-row class="hcRows">
          <!-- <ion-col class="bgM" style="max-width: 20px;"></ion-col> -->
          <ion-col>
            <ion-row style="justify-content: center;">
              <ion-col size="12" class="hcSatisCol">
                <ion-label class="MpurpleB">Sipariş Toplamları</ion-label>
              </ion-col>
              <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                <ion-label>Alış</ion-label>
                <ion-label class="SblackB">0000$</ion-label>
              </ion-col>
              <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                <ion-label>Satış</ion-label>
                <ion-label class="SblackB">0000$</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="bgM" style="max-width: 20px;"></ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container kasaToplamları>
    <ion-card>
      <ion-card-content class="hcCardContent">
        <ion-row class="hcRows">
          <!-- <ion-col class="bgM" style="max-width: 20px;"></ion-col> -->
          <ion-col>
            <ion-row style="justify-content: center;">
              <ion-col size="12" class="hcSatisCol">
                <ion-label class="MpurpleB">Kasa Toplamları</ion-label>
              </ion-col>
              <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                <ion-label>Alış</ion-label>
                <ion-label class="SblackB">0000$</ion-label>
              </ion-col>
              <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                <ion-label>Satış</ion-label>
                <ion-label class="SblackB">0000$</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="bgM" style="max-width: 20px;"></ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>