.headerFrame{
    width: 100%;
    background-color: #6E2798;
    border-style: solid;
    border-color: #6E2798;
    border-top-color: #fc9c1c;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cont{
    height: 100%;
    width: 100%;
    background-color: white;
}
.insideFrame{
    height: 100%;
    align-self: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    min-width: 220px;
    background-color: white;
}
.content{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.infoDiv{
    margin-top: 10px;
    width: 80%;
    aspect-ratio: 8;
    display: flex;
    font-size: 60px;
    color: white;
    justify-content: space-around;
    flex-direction: row;
}
.userLogoFrame{
    height: 100%;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.infoFrame{
    height: 100%;
    flex: 1;
    display: flex;
    font-size: small;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    line-height: 20px;
    font-weight: bold;
}
.infoLbl{
    height: 100%;
    width: 100%;
    background-color: #fc9c1c;
    text-align: center;
    display: flex;
}
.userNamelbl{
    font-size: small;
}
.infoBox{
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dataLbl{
    font-weight: 100;
    width: 100%;
}
.updateButtonFrame{
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
}
.updateButton{
    width: 80%;
    height: 30px;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(252,156,28,0.5);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    border-radius: 7px;
}
.segmentFrame{
    border-style: solid;
    border-width: 1px;
    border-color: #fc9c1c;
    border-width: 0px;
    border-bottom-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.segment{
    height: 30px;
}
ion-segment-button {
    height: 30px;
    min-height: 30px;
    --color: #6E2798;
    --color-checked: #fc9c1c;
  }
.slides{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.slideHeader{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-width: 0ch;
    font-size: large;
    font-weight: bolder;
    border-bottom-width: 1px;
    border-color: #6E2798;
    color: #6E2798;
}
.abonelikFrame{
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: #fc9c1c;
    display: flex;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    flex-direction: row;
}
.itemDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
ion-thumbnail{
    height: 100%;
    width: 60px;
    background-color: #6E2798;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleLbl{
    margin: auto;
    font-size: small;
    color: #6E2798;
}

.fiyatLabel{
    margin: auto;
    font-size: medium;
    font-weight: bold;
}
.priceFrame{
    height: 100%;
    width: 40px;
    background-color: #6E2798;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleFrameSelected{
    height: 100%;
    display: flex;
    flex: 1;
    background-color: rgba(252,156,28,0.7);
    top: 0px;
    left: 0px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .75s;
    box-shadow: 1px 2px rgba(0,0,0,0.2);
}
.titleFrame{
    height: 100%;
    display: flex;
    flex: 1;
    top: 0px;
    left: 0px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .75s;
    box-shadow: 1px 2px rgba(0,0,0,0.2);
    background-color: transparent;
}
.inputs{
    color: black;
    font-weight: bold;
    font-size:small;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.inputs::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:medium;
    color: rgba(0,0,0,0.3);
}
.inputsFrame{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}
.inputDivs{
    color: black;
    font-weight: bold;
    font-size:small;
    height: 100%;
    margin: auto;
    aspect-ratio: 7;
    max-width: 85%;
    min-width: 80%;
    border-width: 1px;
    border-color: transparent;
    border-bottom-color:#fc9c1c;
    border-style: solid;
    border-color: #fc9c1c;
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
}
.fullSizeRow{
    width: 80%;
    height: 60px;
    font-size: small;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.doubleInputFrame{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    background-color: white;

    color: black;
    font-weight: bold;
    font-size:small;
    margin-top: 1%;
    margin-left: 5%;
    border-style: solid;
    border-radius: 5px;
    border-color: #fc9c1c;
    border-width: 0ch;
    border-width: 1px;
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
}
.input2{
    color: black;
    font-weight: bold;
    font-size:small;
    margin-top: 1%;
    border-style: solid;
    border-color: #fc9c1c;
    border-width: 0ch;
    border-width: 1px;
    display: flex;
    width: 100px;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.inputLabel{
    position: absolute;
    top: -5px;
    background-color: white;
    left: 5px;
    color: #6E2798;
}
.kaydetButton{
    height: 70%;
    width:  70%;
    background-color: #6E2798;
    color: #fc9c1c;
    font-size:x-large;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap:10px;
}
.buttonLabel{
    font-size: medium;
    font-weight: bold;
}
.fullSizeRow2{
    width: 80%;
    height: 60px;
    font-size: small;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.kullanicilerFrame{
    width: 100%;
}
.userFrame{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalInside{
    position:relative;
    height: 300px;
    width: 100%;
    background-color: #6E2798;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
ion-modal{
    --height: 50%;
    aspect-ratio: 0.5;
    --background:transparent;
}
.modalHeader{
    width: 100%;
    height: fit-content;
    display: flex;
    border-style: solid;
    border-width: 0ch;
    border-bottom-width: 1px;
    color: #fc9c1c;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}
.modalContent{
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 60%;
}
.modalLabels{
    color: white;
    font-weight: bold;
    font-size: small;
}
.labelFrame{
    gap: 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.tableHedarFrame{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-style: solid;
    justify-content: center;
    align-items: center;
    border-color:  rgba(255,255,255,0.4);
    border-width: 1px;
    text-align: center;
    gap:2px;
}
.labels{
    color: white;
    font-size: small;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-width: 0px;
    border-color:  rgba(255,255,255,0.4);
    border-bottom-width: 1px;
}
.popOver{
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeIcon{
    font-size: xx-large;
    position: absolute;
    top: 0%;
    right: 0%;
}
.segment{
    height: 70px;
    --background: #fc9c1c;
}
.kullaniciItem{
    --background:transparent;
}
ion-list{
    gap: 5px;
    background-color: white;
}
ion-item{
    margin-top: 5px;
    --background:white;
}