<ion-content>
  <div class="hc-listcontainer">
    <div class="hc-listoutsideFrame">
      <div class="hc-listleftFrame">
        <ion-label class="hc-listfisNo">&ensp;0000000000000000&ensp;</ion-label>
      </div>
      <div class="hc-listrightFrame">

      </div>
      <div class="hc-listmiddleFrame" style="display: flex;justify-content:space-between;">
        <div class="hc-listtopFrame" style="margin-top: 5px;">
          <ion-label class="hc-listcariAd" style="margin-left: 10px;">Ürün Adı</ion-label>
        </div>
        <div class="hc-listfisInfoFrame" style="height: 75%;">
          <div class="hc-listinsideFrames">
            <ion-label class="hc-listbaslik" style="text-align: center;">Geçerlilik Tarihi<br>Baslangıç</ion-label>
            <ion-label class="hc-listicerik">00.00.0000</ion-label>
          </div>
          <div class="hc-listinsideFrames">
            <ion-label class="hc-listbaslik" style="text-align: center;">Geçerlilik Tarihi<br>Bitiş</ion-label>
            <ion-label class="hc-listicerik">00.00.0000</ion-label>
          </div>
          <div class="hc-listinsideFrames" style="border-width: 0px;">
            <ion-label class="hc-listbaslik" style="text-align: center;">Fiyatı<br>&ensp; .</ion-label>
            <ion-label class="hc-listicerik">0000$</ion-label>
          </div>
        </div>
        <div class="hc-listselectionMenu">
          <div class="hc-listinsideFrames2" *ngFor="let item of popoverData">
            <ion-icon name="{{item.icon}}"></ion-icon>
            <ion-label>{{item.title}}</ion-label>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>