<ion-header>
  <div class="hc-listsearchInputFrame" style="margin-top: 10px;">
    <ion-icon (click)="back()" name="chevron-back"></ion-icon>
    <ion-input (input)="textChange($event.target.value)" class="hc-listinputs"
      placeholder="{{placeHolders[placeHolderIndex]}}" type="text" style="margin-bottom: 5px;">
      <ion-icon class="hc-listsearchicon" size="small" name="search"></ion-icon>
    </ion-input>
    <ion-icon (click)="forward()" name="chevron-forward"></ion-icon>
  </div>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content class="hcCardContent">
      <ion-row class="hcRows">
        <ion-col class="bgM"
          style="max-width: 25px;justify-content: center;align-items: center;padding: 0%;margin: 0%;">
          <ion-label class="hc-listfisNo" style="color:#fc9c1c;">&ensp;00000000000000000&ensp;</ion-label>
        </ion-col>
        <ion-col style="justify-content: center;display:flex;align-items:center" (click)="cariClick()">
          <ion-row style="justify-content: center;align-items: center;width: 90%;position: absolute;top: 5px;left: 5%;">
            <ion-col size="12" class="hcSatisCol" style="justify-content: space-between;">
              <ion-label class="MpurpleB">Yasin Öztaş</ion-label>
              <ion-label class="SblackB">Tarih: 00.00.0000</ion-label>
            </ion-col>
          </ion-row>
          <ion-row style="width: 100%;display: flex;flex-direction: column;">
            <ion-row>
              <ion-col class="hcSatisCol">
                <ion-label class="hc-listbaslik">Başlık</ion-label>
              </ion-col>
              <ion-col class="hcSatisCol">
                <ion-label class="hc-listbaslik">Başlık</ion-label>
              </ion-col>
              <ion-col class="hcSatisCol">
                <ion-label class="hc-listbaslik">Başlık</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="hcSatisCol">
                <ion-label class="hc-listicerik">içerik</ion-label>
              </ion-col>
              <ion-col class="hcSatisCol">
                <ion-label class="hc-listicerik">içerik</ion-label>
              </ion-col>
              <ion-col class="hcSatisCol">
                <ion-label class="hc-listicerik">içerik</ion-label>
              </ion-col>
            </ion-row>
          </ion-row>
        </ion-col>
        <ion-col class="bgM"
          style="max-width: 20px;justify-content: center;align-items: center;display: flex;padding: 0%;margin: 0%;">
          <ion-icon class="hc-listoptions" name="ellipsis-vertical"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="tW-1">
    <ion-row>
      <!-- <ion-col class="band bgM">
      </ion-col> -->
      <ion-col class="ortaBolum" (click)="cariClick()">
        <ion-row class="lines" style="border-width: 0px;">
          <ion-col>
            <ion-label class="hc-listcariAd">
              Yasin Öztaş
            </ion-label>
          </ion-col>
          <ion-col>
            <div class="hcRightContentFrame">
              <ion-label class="hc-listicerik">
                Tarih: 00.00.0000
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="lines">
          <ion-col size = "3.5" style="display: flex;overflow:visible">
            <div class="hcRightContentFrame jc-e ai-s">
              <ion-label class="hc-listicerik fw-n">
                Fatura No:
              </ion-label>
            </div>
          </ion-col>
          <ion-col size ="8.5">
            <div class="hcRightContentFrame jc-e">
              <ion-label class="hc-listicerik" style="margin-bottom: 2px;">
                0000000000000000
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="lines">
          <ion-col size = "3" style="display: flex;overflow:visible">
            <div class="hcRightContentFrame jc-e ai-s">
              <ion-label class="hc-listicerik fw-n">
                Ambar:
              </ion-label>
            </div>
          </ion-col>
          <ion-col size ="9">
            <div class="hcRightContentFrame jc-e">
              <ion-label class="hc-listicerik" style="margin-bottom: 2px;">
                Merkez
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="lines">
          <ion-col size = "3" style="display: flex;overflow:visible">
            <div class="hcRightContentFrame jc-e ai-s">
              <ion-label class="hc-listicerik fw-n">
                Tutar:
              </ion-label>
            </div>
          </ion-col>
          <ion-col size ="9">
            <div class="hcRightContentFrame jc-e">
              <ion-label class="hc-listicerik" style="margin-bottom: 2px;">
                00000000000$
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="band bgM" (click)="openSettingsMenu($event,fis)">
        <div class="centeredFrame">
          <ion-icon class="hc-listoptions"  name="ellipsis-vertical"></ion-icon>
        </div>
        <!-- <ion-icon name="md-more"></ion-icon> -->
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-content class="hcCardContent">
      <div class="hc-listoutsideFrame" style="width: 100%;border-width: 0px;border-radius: 0%;">
        <div class="hc-listleftFrame" style="border-width: 0px;flex-direction: column;">
          <ion-label class="hc-listfisNo">&ensp;00000000000000000&ensp;</ion-label>
        </div>
        <a class="hc-listrightFrame" (click)="openSettingsMenu($event,fis)" style="border-width: 0px;">
          <ion-icon class="hc-listoptions" name="ellipsis-vertical"></ion-icon>
        </a>
        <div class="hc-listmiddleFrame" (click)="middleClick()">
          <div class="hc-listtopFrame" style="width: 90%;margin-left:5%">
            <ion-label class="hc-listcariAd">Yasin Öztaş</ion-label>
            <ion-label class="hc-listtarih">Tarih: 00.00.0000&ensp;</ion-label>
          </div>
          <div class="hc-listfisInfoFrame">
            <div class="hc-listinsideFrames">
              <ion-label class="hc-listbaslik">Fatura Tipi</ion-label>
              <ion-label class="hc-listicerik">faturaTipi</ion-label>
            </div>
            <div class="hc-listinsideFrames">
              <ion-label class="hc-listbaslik"> Ambar</ion-label>
              <ion-label class="hc-listicerik">ambar</ion-label>
            </div>
            <div class="hc-listinsideFrames" style="border-width: 0px;">
              <ion-label class="hc-listbaslik">Tutar</ion-label>
              <ion-label class="hc-listicerik">0000₺ <br>0000$</ion-label>
            </div>
          </div>
          <div class="hc-bottomInfoFrame">
            <div class="hc-listinsideFrames" style="border-width: 0px;">
              <ion-label style="color: red;" class="hc-listiptal">İptal</ion-label>
            </div>
            <div class="hc-listinsideFrames" style="border-width: 0px;">
              <ion-label style="color:blue;" class="hc-listArsiv">TaslakEArşiv - Satış</ion-label>
            </div>
            <div class="hc-listinsideFrames" style="border-width: 0px;">
              <ion-label style="color: green;" (click)="gonderState=!gonderState" class="gonder" *ngIf="gonderState">
                Gönderildi
              </ion-label>
              <button class="hc-gonderButton" (click)="gonderState=!gonderState" *ngIf="!gonderState">
                <ion-icon name="send"></ion-icon>
                <ion-label>Gönder</ion-label>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<div class="hc-listbottomFrame">
  <ion-button (click)="bottomButtonClick()" class="hc-listaddButton">
    <ion-icon name="add" class="hc-listaddIcon"></ion-icon>
    Yeni Fatura Oluştur
  </ion-button>
</div>