.hc-listbottomFrame{
    width: 100%;
    position:absolute;
    bottom: 0%;
    height: 51px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hc-listaddIcon{
    font-size: xx-large;
    font-weight: bolder;
}
.hc-listaddButton{
    width: 65%;
    height: 40px;
    font-size: small;
    font-weight: bold;
    --background: #6E2798;
}
.hc-listsearchInputFrame{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}
.hc-listcontainer{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.hc-listoutsideFrame{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    overflow: hidden;
    font-size: medium;
    font-weight: bold;
    position: relative;
    margin: auto;
    width: 98%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.1);
    transition: 0.5s;
}
.hc-listleftFrame{
    width: 6%;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    display: flex;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-color: orange;
    background-color: #6E2798;
    color: orange;

}
.hc-listfisNo{
    font-size: medium;
    font-weight: bold;
    writing-mode: vertical-rl;
}
.hc-listrightFrame{
    position: absolute;
    height: 100%;
    width: 6%;
    justify-content: center;
    align-items: center;
    display: inline-block;
    top: 0%;
    right: 0%;
    text-align: center;
    display: flex;
    border-style: solid;
    border-width: 0px;
    border-left-width: 1px;
    border-color: orange;
    background-color: #6E2798;
    color: orange;
}

.hc-listmiddleFrame{
    width: 88%;
    display: flex;
    color: black;
    transition:  0.5s;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.hc-listfisInfoFrame{
    margin-top: 10%;
    position: static;
    height: fit-content;
    width: 100%;
    display: flex;
    transition:  0.5s;
}
.hc-listtopFrame{
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hc-listinsideFrames{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:  0.5s;
    gap:5px;
    flex:1;
    height: fit-content;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
}
.hc-listbaslik{
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: small;
    font-weight: 200;
}
.hc-listicerik{
    height: 50%;
    font-size: small;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}
.hc-listcariAd{
    transition: 0.5s;
    font-weight: bolder;
    color: #6E2798;
    font-size: medium;
}
.hc-listtarih{
    font-weight: bold;
    font-size: small;

}
.hc-listinsideFrame{
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}
.hc-listselection{
    height: 100%;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-color:rgba(255,255,255,0.5);
    flex: 0.7;
    display: flex;
    font-size: x-large;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.hc-listselectionMenu:has(.selection:hover){
    background-color: #fc9c1c;
}
.hc-listselectionIcons{
    height: 50%;
    display: flex;
    color: white;
    font-size: x-large;
}
.hc-listselectionLabels{
    display: flex;
    color: white;
    font-size: small;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.hc-listselectionMenu{
    flex-wrap: wrap;
    display: flex;
    width: 0%;
    height: 50%;
    color:white;
    background-color: #6E2798;
    bottom: 0%;
    opacity: 0;
    margin-top: 5px;
    transition:  0.5s;
    visibility: hidden;
}
.hc-listrightFrameTop{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-color: #fc9c1c;
    color:  #6E2798;
    right: 0%;
    bottom: 0%;
    background-color: #6E2798;
    position: absolute;
    opacity: 0;
}
.hc-grid{
    display: flex;
    background-color: #6E2798;
    height: 0px;
    ion-row{
        height: 0px;
    }
    ion-col{
        height: 0px;
        transition:  0.5s;
    }
}
.hc-listrightFrame:hover ~ .hc-listmiddleFrame > .hc-listselectionMenu{
    height: fit-content;
    visibility: visible;
    opacity: 1;
    width: 100%;
}
.hc-listrightFrame:hover ~ .hc-listmiddleFrame > .hc-listselectionMenu > .hc-grid{
    ion-row{
        height: 33.33%;
    }
    ion-col{
        height: auto;
    }
    height: 100%;
}
.hc-listrightFrame:hover ~ .hc-listmiddleFrame > .hc-listselectionMenu > .hc-grid > .hc-selectionMenuParts{
    
    min-height: 100px;
    min-width: 100px;
}
.hc-listrightFrame:hover ~ .hc-listmiddleFrame > .hc-listfisInfoFrame{
    margin-top: 2px;
}
.hc-listrightFrame:hover ~ .hc-listmiddleFrame > .hc-bottomInfoFrame{
    margin-top: 2px;
}
.hc-listrightFrame:hover ~ .hc-listmiddleFrame{
    background-color: white;
}
.hc-listcariAd{
    font-weight: bolder;
    color: #6E2798;
    font-size: medium;
}
.hc-listtarih{
    font-weight: bold;
    font-size: small;
    margin-right: 5px;
}
.hc-bottomInfoFrame{
    margin-top: 10px;
    position: relative;
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: row;
    font-size: x-small;
    transition:  0.5s;
    font-weight: bolder;
}
.hc-gonderButton{
    background-color:#6E2798;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.hc-selectionMenuParts{
    min-height: 0px;
    min-width: 0px;
    flex: 1;
    background-color: #6E2798;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    flex-direction: column;
    flex-wrap: nowrap;
    word-wrap: break-word;
}