<ion-content>
    <div class="content" >
    <div class="insideFrame">
      <div class="logoFrame" style="background-color: white;">
        <ion-img class="logo" [src]="logoSrc"></ion-img>
      </div>
      <div class="inputsFrame">
        <input class="inputss" placeholder="Kullanıcı Adı" type="text">
        <input class="inputss" placeholder="Şifre" type="password">
      </div>
      <div class="buttonFrame">
        <button routerLink="/home" class="loginButton">
          Giriş Yap
        </button>
      </div>
      <div class="linksFrame">
        <div class="navigationLinks">
          <a routerLink="/forgotpassword" class="navigationLink">Şifreni mi unuttun?</a>
          <label class="navigationText" for="">Hesabın yok mu?
          <a routerLink="/register" routerLinkActive="active" class="navigationLink" for="">Kayıt Ol</a></label>
        </div> 
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="navigationButtons">
    <a class="navButtons" href="https://www.facebook.com/hesapcini">
      <ion-icon class="icons" size="large" name="logo-facebook"></ion-icon>
    </a>
    <a class="navButtons" href="https://www.instagram.com/hesapcini/">
      <ion-icon class="icons" size="large"  name="logo-instagram"></ion-icon>
    </a>
    <a class="navButtons" href="https://twitter.com/hesapcini">
      <ion-icon class="icons" size="large"  name="logo-twitter"></ion-icon>
    </a>
    <a class="navButtons" href="https://www.youtube.com/channel/UClKF42WwP7UzGjtcXOpfx0g">
      <ion-icon class="icons" size="large"  name="logo-youtube"></ion-icon>
    </a>
</ion-footer>
