<ion-header>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="hcCardContent">
      <ion-row class="hcRows">
        <ion-col class="bgM"
          style="max-width: 25px;justify-content: center;align-items: center;padding: 0%;margin: 0%;">
          <ion-label class="hc-listfisNo" style="color:#fc9c1c;">&ensp;00000000000000000&ensp;</ion-label>
        </ion-col>
        <ion-col style="justify-content: center;display:flex;align-items:center" (click)="cariClick()">
          <ion-row style="justify-content: center;align-items: center;width: 90%;position: absolute;top: 5px;left: 5%;">
            <ion-col size="12" class="hcSatisCol"
              style="justify-content: space-between;">
              <ion-label class="MpurpleB">Title</ion-label>
              <ion-label class="SblackB">Tarih: 00.00.0000</ion-label>
            </ion-col>
          </ion-row>
          <ion-row style="width: 100%;">
            <ion-col size="4" class="hcSatisCol">
              <ion-label class="hc-listbaslik">Başlık</ion-label>
            </ion-col>
            <ion-col size="4" class="hcSatisCol">
              <ion-label class="hc-listbaslik">Başlık</ion-label>
            </ion-col>
            <ion-col size="4" class="hcSatisCol">
              <ion-label class="hc-listbaslik">Başlık</ion-label>
            </ion-col>
            <ion-col size="4" class="hcSatisCol">
              <ion-label class="hc-listicerik">içerik</ion-label>
            </ion-col>
            <ion-col size="4" class="hcSatisCol">
              <ion-label class="hc-listicerik">içerik</ion-label>
            </ion-col>
            <ion-col size="4" class="hcSatisCol">
              <ion-label class="hc-listicerik">içerik</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="bgM" style="max-width: 20px;justify-content: center;align-items: center;display: flex;padding: 0%;margin: 0%;">
          <ion-icon class="hc-listoptions" name="ellipsis-vertical"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <ion-card-content class="hcCardContent">
      <ion-row class="hcRows">
        <ion-col class="bgM"
          style="max-width: 25px;justify-content: center;align-items: center;padding: 0%;margin: 0%;">
          <ion-label class="hc-listfisNo" style="color:#fc9c1c;">&ensp;00000000000000000&ensp;</ion-label>
        </ion-col>
        <ion-col style="justify-content: center;display:flex;align-items:center" (click)="cariClick()">
          <ion-row style="justify-content: center;align-items: center;width: 90%;position: absolute;top: 5px;left: 5%;">
            <ion-col size="12" class="hcSatisCol"
              style="justify-content: space-between;">
              <ion-label class="MpurpleB">Title</ion-label>
              <ion-label class="SblackB">Tarih: 00.00.0000</ion-label>
            </ion-col>
          </ion-row>
          <ion-row style="width: 100%;" style="height: fit-content;">
            <ion-col size="12">
              <ion-row style="justify-content: center;">
                <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                  <ion-label>Ambar</ion-label>
                  <ion-label class="SblackB">ambar</ion-label>
                </ion-col>
                <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                  <ion-label>Cari Ünvanı:</ion-label>
                  <ion-label class="SblackB">cari</ion-label>
                </ion-col>
                <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                  <ion-label>Cari Ünvanı:</ion-label>
                  <ion-label class="SblackB">cari</ion-label>
                </ion-col>
                <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                  <ion-label>Cari Ünvanı:</ion-label>
                  <ion-label class="SblackB">cari</ion-label>
                </ion-col>
                <ion-col size="10" class="hcSatisCol ul" style="justify-content: space-between;">
                  <ion-label>Cari Ünvanı:</ion-label>
                  <ion-label class="SblackB">cari</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
d
            </ion-col>
            <ion-col size="6">
              d
            </ion-col>
          </ion-row>
          
        </ion-col>
        <ion-col class="bgM" style="max-width: 20px;justify-content: center;align-items: center;display: flex;padding: 0%;margin: 0%;">
          <ion-icon class="hc-listoptions" name="ellipsis-vertical"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->
  <ion-card>
    <div style="height: fit-content;width:100%;display:flex;flex-direction:column;gap:5px" *ngIf="!rapor">
      <div class="hc-listoutsideFrame" style="height: fit-content;">
        <div class="hc-listleftFrame" style="flex-direction: column;">
          <ion-label class="hc-listfisNo">&ensp;0000000000000000&ensp;</ion-label>
        </div>
        <a class="hc-listrightFrame">
          <ion-icon class="hc-listoptions" name="ellipsis-vertical"></ion-icon>
        </a>
        <div class="hc-listmiddleFrame">
          <div class="hc-listtopFrame" style="width: 90%;margin-left:5%;margin-top: 5px;">
            <ion-label class="hc-listcariAd">Açılış Fişi</ion-label>
            <ion-label class="hc-listtarih">Tarih: 00.00.0000&ensp;</ion-label>
          </div>
          <div class="hc-listfisInfoFrame" style="flex:1;flex-direction: column;height: fit-content;margin-top: 10px;">
            <div class="hc-lines w-90">
              <ion-label class="hc-cekText">Ambar:</ion-label>
              <ion-label class="hc-cekText" style="font-weight:bolder">Tarsus Ambar</ion-label>
            </div>
            <div class="hc-lines w-90">
              <ion-label class="hc-cekText">Cari Ünvanı:</ion-label>
              <ion-label class="hc-cekText" style="font-weight:bolder">cariAdı</ion-label>
            </div>
            <div class="hc-lines w-90">
              <ion-label class="hc-cekText">Ürün Adı:</ion-label>
              <ion-label class="hc-cekText" style="font-weight:bolder">ürünAdı</ion-label>
            </div>
            <div class="hc-lines w-90">
              <ion-label class="hc-cekText">Birim:</ion-label>
              <ion-label class="hc-cekText" style="font-weight:bolder">ADT</ion-label>
            </div>
            <div class="hc-lines w-90">
              <ion-label class="hc-cekText">Fiili Stok:</ion-label>
              <ion-label class="hc-cekText" style="font-weight:bolder">123</ion-label>
            </div>
            <div class="hc-listbottomFrame" style="position: relative;height: fit-content;margin-top: 10px;">
              <div class="hc-listinsideFrames">
                <ion-label class="hc-listbaslik" style="text-decoration:underline;">Giriş</ion-label>
                <div class="hc-lines">
                  <ion-label class="hc-listibaslik">Miktar:</ion-label>
                  <ion-label class="hc-listicerik">000</ion-label>
                </div>
                <div class="hc-lines">
                  <ion-label class="hc-listibaslik">Fiyat:</ion-label>
                  <ion-label class="hc-listicerik">000$</ion-label>
                </div>
                <div class="hc-lines">
                  <ion-label class="hc-listibaslik">Tutar:</ion-label>
                  <ion-label class="hc-listicerik">000$</ion-label>
                </div>
              </div>
              <div class="hc-listinsideFrames" style="border-width: 0px;">
                <ion-label class="hc-listbaslik" style="text-decoration:underline;">Çıkış</ion-label>
                <div class="hc-lines">
                  <ion-label class="hc-listibaslik">Miktar:</ion-label>
                  <ion-label class="hc-listicerik">000</ion-label>
                </div>
                <div class="hc-lines">
                  <ion-label class="hc-listibaslik">Fiyat:</ion-label>
                  <ion-label class="hc-listicerik">000$</ion-label>
                </div>
                <div class="hc-lines">
                  <ion-label class="hc-listibaslik">Tutar:</ion-label>
                  <ion-label class="hc-listicerik">000$</ion-label>
                </div>
              </div>
            </div>
            <div style="height: 10px;"></div>
          </div>
  
        </div>
  
      </div>
    </div>
  </ion-card>

</ion-content>