<ion-content>
  <ng-container topFrame>
    <div class="hc-cekTopFrame">
      <div class="hc-listleftFrame hc-listCariLeftFrame hc-cekTopLeftFrame">
        <ion-img class="hc-cekImg" src="assets/images/proje.svg"></ion-img>
      </div>
      <ng-container topFrame>
        <div class="hc-listmiddleFrame hc-cekMiddleFrame">
          <div class="hc-lines hc-cekToplines">
            <ion-label class="hc-cekText">Başlangıç Tarihi:</ion-label>
            <ion-label class="hc-cekText" style="font-weight:bolder">00.00.0000</ion-label>
          </div>
          <div class="hc-lines hc-cekToplines">
            <ion-label class="hc-cekText">Bitiş Tarihi:</ion-label>
            <ion-label class="hc-cekText" style="font-weight:bolder">00.00.0000</ion-label>
          </div>
          <div class="hc-lines hc-cekToplines">
            <ion-label class="hc-cekText">Proje Açıklaması:</ion-label>
            <ion-label class="hc-cekText" style="font-weight:bolder">Test açıklama</ion-label>
          </div>
        </div>
        <div style="align-items: center;width: 100%;position:absolute;height:30px;display: flex;bottom: 0px;">
          <ion-label class="hc-listcariAd" style="margin-left: 10px;">
            proje Adı
          </ion-label>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <div style="height: 15px;"></div>
  <ng-container genelToplamlar>
    <ion-card>
      <ion-card-content style="padding: 0px;margin: 0px;">
        <div class="hc-projeTotalsFrame">
          <div class="hc-listinsideFrames">
            <div class="hc-lines g">
              <ion-label class="hc-cekText">Satışlar:</ion-label>
              <ion-label class="hc-cekText sizeM" style="font-weight:bolder">00000$</ion-label>
            </div>
            <div class="hc-lines r">
              <ion-label class="hc-cekText">Alışlar:</ion-label>
              <ion-label class="hc-cekText bold sizeM" style="font-weight:bolder">00000$</ion-label>
            </div>
            <div class="hc-lines">
              <ion-label class="hc-cekText">Fark:</ion-label>
              <ion-label class="hc-cekText bold sizeM" style="font-weight:bolder">00000$</ion-label>
            </div>
          </div>
          <div class="hc-listinsideFrames" style="border-width: 0px;">
            <div class="hc-lines b">
              <ion-label class="hc-cekText">Tahsilatlar:</ion-label>
              <ion-label class="hc-cekText bold sizeM" style="font-weight:bolder">00000$</ion-label>
            </div>
            <div class="hc-lines o">
              <ion-label class="hc-cekText">Ödemeler:</ion-label>
              <ion-label class="hc-cekText bold sizeM" style="font-weight:bolder">00000$</ion-label>
            </div>
            <div class="hc-lines">
              <ion-label class="hc-cekText">Fark:</ion-label>
              <ion-label class="hc-cekText bold sizeM" style="font-weight:bolder">00000$</ion-label>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container satışlar>
    <div class="hc-projeTotalsFrame minimize"
      style="border-style: none;justify-content: center;align-items: center;display: flex; ">
      <ion-button class="hc-projeButton" style="--background:green" (click)="satislarClick()">
        <ion-label>Satışlar 00$</ion-label>
      </ion-button>
    </div>
    <div class="hc-container" *ngIf="states[0]">
      <ion-row>
        <ion-col size="12" class="hc-projeCols" style="border-color: green;">
          <ion-label class="hc-listcariAd">______Satış Faturaları______</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="display: flex;gap:0px">
        <ion-col size="12">
          <ion-card style="margin:0%">
            <ion-card-content style="padding: 0px;margin: 0px;">
              <div class="hc-listoutsideFrame" style="border-width: 0px;width: 100%;border-radius: 0%;">
                <div class="hc-listleftFrame bgG" style="flex-direction: column;width: 20px;">
                </div>
                <a class="hc-listrightFrame bgG" style="flex-direction: column;width: 20px;"
                  (click)="openSettingsMenu($event,fis)">
                </a>
                <div class="hc-listmiddleFrame bg-white" (click)="middleClick()">
                  <div class="hc-listtopFrame" style="height: 5%;">
                    <ion-label class="hc-listcariAd s">&ensp;No: 0000000000000000</ion-label>
                  </div>
                  <div class="hc-listfisInfoFrame" style="height: 100%;">
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Cari Ad</ion-label>
                      <ion-label class="hc-listicerik">cariAd</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tarih</ion-label>
                      <ion-label class="hc-listicerik">00.00.00</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tutar</ion-label>
                      <ion-label class="hc-listicerik">0000₺<br>123$</ion-label>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="hc-projeCols" style="border-color: green;">
          <ion-label class="hc-listcariAd" style="color: #fc9c1c;">______Verilen Hizmetler______</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="display: flex;gap:0px">
        <ion-col size="12">
          <ion-card style="margin:0%">
            <ion-card-content style="padding: 0px;margin: 0px;">
              <div class="hc-listoutsideFrame" style="border-width: 0px;width: 100%;border-radius: 0%;">
                <div class="hc-listleftFrame bgG" style="flex-direction: column;width: 20px;">
                </div>
                <a class="hc-listrightFrame bgG" style="flex-direction: column;width: 20px;"
                  (click)="openSettingsMenu($event,fis)">
                </a>
                <div class="hc-listmiddleFrame bg-white" (click)="middleClick()">
                  <div class="hc-listtopFrame" style="height: 5%;">
                    <ion-label class="hc-listcariAd s">&ensp;No: 0000000000000000</ion-label>
                  </div>
                  <div class="hc-listfisInfoFrame" style="height: 100%;">
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Cari Ad</ion-label>
                      <ion-label class="hc-listicerik">cariAd</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tarih</ion-label>
                      <ion-label class="hc-listicerik">00.00.00</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tutar</ion-label>
                      <ion-label class="hc-listicerik">0000₺<br>123$</ion-label>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
  <ng-container alışlar>
    <div class="hc-projeTotalsFrame minimize"
      style="border-style: none;justify-content: center;align-items: center;display: flex; ">
      <ion-button class="hc-projeButton" style="--background:red" (click)="alislarClick()">
        <ion-label>Alışlar 00$</ion-label>
      </ion-button>
    </div>
    <div class="hc-container" *ngIf="states[1]">
      <ion-row>
        <ion-col size="12" class="hc-projeCols" style="border-color: green;">
          <ion-label class="hc-listcariAd" style="color: #fc9c1c;">______Verilen Hizmetler______</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="display: flex;gap:0px">
        <ion-col size="12">
          <ion-card style="margin:0%">
            <ion-card-content style="padding: 0px;margin: 0px;">
              <div class="hc-listoutsideFrame" style="border-width: 0px;width: 100%;border-radius: 0%;">
                <div class="hc-listleftFrame bgR" style="flex-direction: column;width: 20px;">
                </div>
                <a class="hc-listrightFrame bgR" style="flex-direction: column;width: 20px;"
                  (click)="openSettingsMenu($event,fis)">
                </a>
                <div class="hc-listmiddleFrame bg-white" (click)="middleClick()">
                  <div class="hc-listtopFrame" style="height: 5%;">
                    <ion-label class="hc-listcariAd s">&ensp;No:0000000000000000</ion-label>
                  </div>
                  <div class="hc-listfisInfoFrame" style="height: 100%;">
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Cari Ad</ion-label>
                      <ion-label class="hc-listicerik">cariAd</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tarih</ion-label>
                      <ion-label class="hc-listicerik">00.00.0000</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tutar</ion-label>
                      <ion-label class="hc-listicerik">0000₺ <br>0000$</ion-label>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
  <ng-container tahsilatlar>
    <div class="hc-projeTotalsFrame minimize"
      style="border-style: none;justify-content: center;align-items: center;display: flex; ">
      <ion-button class="hc-projeButton" style="--background:blue" (click)="tahsilatlarClick()">
        <ion-label>Tahsilatlar 00$</ion-label>
      </ion-button>
    </div>
    <div class="hc-container" *ngIf="states[2]">
      <ion-row>
        <ion-col size="12" class="hc-projeCols" style="border-color: green;">
          <ion-label class="hc-listcariAd" style="color: #fc9c1c;">______Kasa Hareketleri______</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="display: flex;gap:0px">
        <ion-col size="12">
          <ion-card style="margin:0%">
            <ion-card-content style="padding: 0px;margin: 0px;">
              <div class="hc-listoutsideFrame" style="border-width: 0px;width: 100%;border-radius: 0%;">
                <div class="hc-listleftFrame bgB" style="flex-direction: column;width: 20px;">
                </div>
                <a class="hc-listrightFrame bgB" style="flex-direction: column;width: 20px;"
                  (click)="openSettingsMenu($event,fis)">
                </a>
                <div class="hc-listmiddleFrame bg-white" (click)="middleClick()">
                  <div class="hc-listtopFrame" style="height: 5%;">
                    <ion-label class="hc-listcariAd s">&ensp;Title</ion-label>
                  </div>
                  <div class="hc-listfisInfoFrame" style="height: 100%;">
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Açıklama</ion-label>
                      <ion-label class="hc-listicerik">açıklama</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tarih</ion-label>
                      <ion-label class="hc-listicerik">00.00.0000</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tutar</ion-label>
                      <ion-label class="hc-listicerik">0000₺<br>123$</ion-label>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="hc-projeCols" style="border-color: green;">
          <ion-label class="hc-listcariAd" style="color: #fc9c1c;">______Banka Hareketleri______</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="display: flex;gap:0px">
        <ion-col size="12">
          <ion-card style="margin:0%">
            <ion-card-content style="padding: 0px;margin: 0px;">
              <div class="hc-listoutsideFrame" style="border-width: 0px;width: 100%;border-radius: 0%;">
                <div class="hc-listleftFrame bgB" style="flex-direction: column;width: 20px;">
                </div>
                <a class="hc-listrightFrame bgB" style="flex-direction: column;width: 20px;"
                  (click)="openSettingsMenu($event,fis)">
                </a>
                <div class="hc-listmiddleFrame bg-white" (click)="middleClick()">
                  <div class="hc-listtopFrame" style="height: 5%;">
                    <ion-label class="hc-listcariAd s">&ensp;Title</ion-label>
                  </div>
                  <div class="hc-listfisInfoFrame" style="height: 100%;">
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Açıklama</ion-label>
                      <ion-label class="hc-listicerik">açıklama</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Vade Tarihi</ion-label>
                      <ion-label class="hc-listicerik">00.00.0000</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tutar</ion-label>
                      <ion-label class="hc-listicerik">0000₺<br>123$</ion-label>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="hc-projeCols" style="border-color: green;">
          <ion-label class="hc-listcariAd" style="color: #fc9c1c;">______Çek ve Senetler______</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="display: flex;gap:0px">
        <ion-col size="12">
          <ion-card style="margin:0%">
            <ion-card-content style="padding: 0px;margin: 0px;">
              <div class="hc-listoutsideFrame" style="border-width: 0px;width: 100%;border-radius: 0%;">
                <div class="hc-listleftFrame bgB" style="flex-direction: column;width: 20px;">
                </div>
                <a class="hc-listrightFrame bgB" style="flex-direction: column;width: 20px;"
                  (click)="openSettingsMenu($event,fis)">
                </a>
                <div class="hc-listmiddleFrame bg-white" (click)="middleClick()">
                  <div class="hc-listtopFrame" style="height: 5%;">
                    <ion-label class="hc-listcariAd s">&ensp;Title</ion-label>
                  </div>
                  <div class="hc-listfisInfoFrame" style="height: 100%;">
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Türü</ion-label>
                      <ion-label class="hc-listicerik">tür</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Vade Tarihi</ion-label>
                      <ion-label class="hc-listicerik">00.00.0000</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tutar</ion-label>
                      <ion-label class="hc-listicerik">0000₺<br>123$</ion-label>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
  <ng-container ödemeler>
    <div class="hc-projeTotalsFrame minimize"
    style="border-style: none;justify-content: center;align-items: center;display: flex; ">
    <ion-button class="hc-projeButton" style="--background:orange" (click)="odemelerClick()">
      <ion-label>Ödemeler 00$</ion-label>
    </ion-button>
  </div>
  <div class="hc-container" *ngIf="states[3]">
    <ion-row>
      <ion-col size="12" class="hc-projeCols" style="border-color: green;">
        <ion-label class="hc-listcariAd" style="color: #fc9c1c;">______Kasa Hareketleri______</ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex;gap:0px">
      <ion-col size="12">
        <ion-card style="margin:0%">
          <ion-card-content style="padding: 0px;margin: 0px;">
            <div class="hc-listoutsideFrame" style="border-width: 0px;width: 100%;border-radius: 0%;">
              <div class="hc-listleftFrame bgO" style="flex-direction: column;width: 20px;">
              </div>
              <a class="hc-listrightFrame bgO" style="flex-direction: column;width: 20px;"
                (click)="openSettingsMenu($event,fis)">
              </a>
              <div class="hc-listmiddleFrame bg-white" (click)="middleClick()">
                <div class="hc-listtopFrame" style="height: 5%;">
                  <ion-label class="hc-listcariAd s">&ensp;Title</ion-label>
                </div>
                <div class="hc-listfisInfoFrame" style="height: 100%;">
                  <div class="hc-listinsideFrames" style="border-width: 0px;">
                    <ion-label class="hc-listbaslik">Açıklama</ion-label>
                    <ion-label class="hc-listicerik">açıklama</ion-label>
                  </div>
                  <div class="hc-listinsideFrames" style="border-width: 0px;">
                    <ion-label class="hc-listbaslik">Tarih</ion-label>
                    <ion-label class="hc-listicerik">00.00.0000</ion-label>
                  </div>
                  <div class="hc-listinsideFrames" style="border-width: 0px;">
                    <ion-label class="hc-listbaslik">Tutar</ion-label>
                    <ion-label class="hc-listicerik">0000₺<br>123$</ion-label>
                  </div>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="hc-projeCols" style="border-color: green;">
        <ion-label class="hc-listcariAd" style="color: #fc9c1c;">______Banka Hareketleri______</ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex;gap:0px">
      <ion-col size="12">
        <ion-card style="margin:0%">
          <ion-card-content style="padding: 0px;margin: 0px;">
            <div class="hc-listoutsideFrame" style="border-width: 0px;width: 100%;border-radius: 0%;">
              <div class="hc-listleftFrame bgO" style="flex-direction: column;width: 20px;">
              </div>
              <a class="hc-listrightFrame bgO" style="flex-direction: column;width: 20px;"
                (click)="openSettingsMenu($event,fis)">
              </a>
              <div class="hc-listmiddleFrame bg-white" (click)="middleClick()">
                <div class="hc-listtopFrame" style="height: 5%;">
                  <ion-label class="hc-listcariAd s">&ensp;Title</ion-label>
                </div>
                <div class="hc-listfisInfoFrame" style="height: 100%;">
                  <div class="hc-listinsideFrames" style="border-width: 0px;">
                    <ion-label class="hc-listbaslik">Açıklama</ion-label>
                    <ion-label class="hc-listicerik">açıklama</ion-label>
                  </div>
                  <div class="hc-listinsideFrames" style="border-width: 0px;">
                    <ion-label class="hc-listbaslik">Vade Tarihi</ion-label>
                    <ion-label class="hc-listicerik">00.00.0000</ion-label>
                  </div>
                  <div class="hc-listinsideFrames" style="border-width: 0px;">
                    <ion-label class="hc-listbaslik">Tutar</ion-label>
                    <ion-label class="hc-listicerik">0000₺<br>123$</ion-label>
                  </div>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="hc-projeCols" style="border-color: green;">
        <ion-label class="hc-listcariAd" style="color: #fc9c1c;">______Çek ve Senetler______</ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex;gap:0px">
      <ion-col size="12">
        <ion-card style="margin:0%">
          <ion-card-content style="padding: 0px;margin: 0px;">
            <div class="hc-listoutsideFrame" style="border-width: 0px;width: 100%;border-radius: 0%;">
              <div class="hc-listleftFrame bgO" style="flex-direction: column;width: 20px;">
              </div>
              <a class="hc-listrightFrame bgO" style="flex-direction: column;width: 20px;"
                (click)="openSettingsMenu($event,fis)">
              </a>
              <div class="hc-listmiddleFrame bg-white" (click)="middleClick()">
                <div class="hc-listtopFrame" style="height: 5%;">
                  <ion-label class="hc-listcariAd s">&ensp;Title</ion-label>
                </div>
                <div class="hc-listfisInfoFrame" style="height: 100%;">
                  <div class="hc-listinsideFrames" style="border-width: 0px;">
                    <ion-label class="hc-listbaslik">Türü</ion-label>
                    <ion-label class="hc-listicerik">tür</ion-label>
                  </div>
                  <div class="hc-listinsideFrames" style="border-width: 0px;">
                    <ion-label class="hc-listbaslik">Vade Tarihi</ion-label>
                    <ion-label class="hc-listicerik">00.00.0000</ion-label>
                  </div>
                  <div class="hc-listinsideFrames" style="border-width: 0px;">
                    <ion-label class="hc-listbaslik">Tutar</ion-label>
                    <ion-label class="hc-listicerik">0000₺<br>123$</ion-label>
                  </div>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  </ng-container>
  <ng-container siparişHareketleri>
    <div class="hc-projeTotalsFrame minimize" style="border-width: 0px;">
      <ion-button class="hc-projeButton" style="--background:rgb(168, 104, 0)" (click)="siparisHareketleri()">
        <ion-label>Sipariş Hareketleri (Alış/Satış)</ion-label>
      </ion-button>
    </div>
    <div class="hc-container" *ngIf="states[4]">
      <ion-row>
        <ion-col size="12" class="hc-projeCols" style="border-color: green;">
          <ion-label class="hc-listcariAd">______Siparişler______</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="display: flex;gap:0px">
        <ion-col size="12">
          <ion-card style="margin:0%">
            <ion-card-content style="padding: 0px;margin: 0px;">
              <div class="hc-listoutsideFrame" style="border-width: 0px;width: 100%;border-radius: 0%;">
                <div class="hc-listleftFrame bgG" style="flex-direction: column;width: 20px; background-color: rgb(168, 104, 0);">
                </div>
                <a class="hc-listrightFrame bgG" style="flex-direction: column;width: 20px; background-color: rgb(168, 104, 0);"
                  (click)="openSettingsMenu($event,fis)">
                </a>
                <div class="hc-listmiddleFrame bg-white" (click)="middleClick()">
                  <div class="hc-listtopFrame" style="height: 5%;">
                    <ion-label class="hc-listcariAd s">&ensp;No: 0000000000000000</ion-label>
                  </div>
                  <div class="hc-listfisInfoFrame" style="height: 100%;">
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Ünvan</ion-label>
                      <ion-label class="hc-listicerik">cari</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tarih</ion-label>
                      <ion-label class="hc-listicerik">00.00.00</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tutar</ion-label>
                      <ion-label class="hc-listicerik">0000₺<br>123$</ion-label>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
  <ng-container stokHareketleri>
    <div class="hc-projeTotalsFrame minimize" style="border-width: 0px;">
      <ion-button class="hc-projeButton" style="--background:rgb(168, 104, 0)" (click)="stokHareketleriClick()">
        <ion-label>Stok Hareketleri</ion-label>
      </ion-button>
    </div>
    <div class="hc-container" *ngIf="states[5]">
      <ion-row>
        <ion-col size="12" class="hc-projeCols" style="border-color: green;">
          <ion-label class="hc-listcariAd">______Siparişler______</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="display: flex;gap:0px">
        <ion-col size="12">
          <ion-card style="margin:0%">
            <ion-card-content style="padding: 0px;margin: 0px;">
              <div class="hc-listoutsideFrame" style="border-width: 0px;width: 100%;border-radius: 0%;">
                <div class="hc-listleftFrame bgG" style="flex-direction: column;width: 20px; background-color: rgb(168, 104, 0);">
                </div>
                <a class="hc-listrightFrame bgG" style="flex-direction: column;width: 20px; background-color: rgb(168, 104, 0);"
                  (click)="openSettingsMenu($event,fis)">
                </a>
                <div class="hc-listmiddleFrame bg-white" (click)="middleClick()">
                  <div class="hc-listtopFrame" style="height: 5%;">
                    <ion-label class="hc-listcariAd s">&ensp;No: 0000000000000000</ion-label>
                  </div>
                  <div class="hc-listfisInfoFrame" style="height: 100%;">
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Ünvan</ion-label>
                      <ion-label class="hc-listicerik">cari</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tarih</ion-label>
                      <ion-label class="hc-listicerik">00.00.00</ion-label>
                    </div>
                    <div class="hc-listinsideFrames" style="border-width: 0px;">
                      <ion-label class="hc-listbaslik">Tutar</ion-label>
                      <ion-label class="hc-listicerik">0000₺<br>123$</ion-label>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
</ion-content>