<ion-content>
  <div style="height: 10px;display:flex;background-color: transparent;"></div>
  <div class="container" >
    <div class="insideContainer">
      <div class="itemFrame" *ngFor ="let favori of favoriler;let i = index">
        <div class="item">
          <button class="button" (click) ="buttonClick(favori)">
            <ion-img class="img" [src]="img"></ion-img>
              {{favori.title}}
          </button>
        </div>
      </div>
      <div class="itemFrame" *ngFor="let c of count" style="height: 10px;"></div>
    </div>
  </div>
</ion-content>
<div style="height: 10px;display:flex;background-color: transparent;"></div>