<ion-content>
  <ion-card>
    <ion-card-content class="hcCardContent">
      <ion-row>
        <ion-col class="centeredBand">
          <ion-label class="hc-listfisNo" style="color:#fc9c1c;">&ensp;00000000000000000&ensp;</ion-label>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-label class="purple medium bold">
                Açılış Fişi
              </ion-label>
            </ion-col>
            <ion-col class="txt-r">
              <ion-label class="black small bold">
                00.00.0000
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="lines">
            <ion-col>
              <ion-label>
                Ambar:
              </ion-label>
            </ion-col>
            <ion-col class="txt-r">
              <ion-label class="black small bold">
                Tarsus Ambar
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="lines">
            <ion-col>
              <ion-label>
                Cari Ünvanı:
              </ion-label>
            </ion-col>
            <ion-col class="txt-r">
              <ion-label class="black small bold">
                cariÜnvanı
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="lines">
            <ion-col>
              <ion-label>
                Ürün Adı:
              </ion-label>
            </ion-col>
            <ion-col class="txt-r">
              <ion-label class="black small bold">
                ürünAdı
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-row class="lines">
              <ion-col>
                <ion-label>
                  Birim:
                </ion-label>
              </ion-col>
              <ion-col class="txt-r">
                <ion-label class="black small bold">
                  KG
                </ion-label>
              </ion-col>
              <ion-col>
                <ion-label>
                  Fiili Stok:
                </ion-label>
              </ion-col>
              <ion-col class="txt-r">
                <ion-label class="black small bold">
                  0000
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-col size="6" class="col-center">
              <ion-label>Giriş</ion-label>
              <ion-row class="lines">
                <ion-col>
                  <ion-label>
                    Miktar:
                  </ion-label>
                </ion-col>
                <ion-col class="txt-r">
                  <ion-label class="black small bold">
                    123
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="lines">
                <ion-col>
                  <ion-label>
                    Fiyat:
                  </ion-label>
                </ion-col>
                <ion-col class="txt-r">
                  <ion-label class="black small bold">
                    123$
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="lines">
                <ion-col>
                  <ion-label>
                    Tutar:
                  </ion-label>
                </ion-col>
                <ion-col class="txt-r">
                  <ion-label class="black small bold">
                    123$
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6" class="col-center">
              <ion-label>Çıkış</ion-label>
              <ion-row class="lines">
                <ion-col>
                  <ion-label>
                    Miktar:
                  </ion-label>
                </ion-col>
                <ion-col class="txt-r">
                  <ion-label class="black small bold">
                    123
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="lines">
                <ion-col>
                  <ion-label>
                    Fiyat:
                  </ion-label>
                </ion-col>
                <ion-col class="txt-r">
                  <ion-label class="black small bold">
                    123$
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="lines">
                <ion-col>
                  <ion-label>
                    Tutar:
                  </ion-label>
                </ion-col>
                <ion-col class="txt-r">
                  <ion-label class="black small bold">
                    123$
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12" class="txt-r">
              <ion-label>s</ion-label>
              <ion-label>a</ion-label>
            </ion-col>
          </ion-row>
          
        </ion-col>
        <ion-col class="centeredBand">
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>