<ion-header>

</ion-header>
<ion-content>
  <div class="container">
    <div class="outsideFrame">
      <div class="insideFrame">
        <div class="leftFrame" style="flex-direction: column;">   
          <ion-label class="fisNo">&ensp;0000000000000000&ensp;</ion-label>
        </div>
        <div class="middleFrame">
          <div class="topFrame">
            <ion-label class="cariAd">&ensp;Ad Soyad</ion-label>
            <ion-label class="tarih">Tarih: 00.00.0000&ensp;</ion-label>
          </div>
          <div class="fisInfoFrame">
            <div class="insideFrames">
              <ion-label class="baslik">Fatura Tipi</ion-label>
              <ion-label class="icerik">faturatipi</ion-label>
            </div>
            <div class="insideFrames">
              <ion-label class="baslik"> Ambar</ion-label>
              <ion-label class="icerik">ambar</ion-label>
            </div>
            <div class="insideFrames" style="border-width: 0px;">
              <ion-label class="baslik">Tutar</ion-label>
              <ion-label class="icerik">000₺</ion-label>
            </div>
          </div>
        </div>
        <div class="rightFrame" (click)="options()">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </div>
      </div>
      <div class="selectionMenu">
        <ng-container *ngFor="let data of popoverData; let i = index">
          <div class="selection" *ngIf="i!=popoverData.length-1">
            <ion-icon class="selectionIcons" name="{{data.icon}}"></ion-icon>
            <ion-label class="selectionLabels" >{{data.title}}</ion-label>
          </div>
          <div class="selection" style="border-width: 0px;" *ngIf="i==popoverData.length-1">
            <ion-icon class="selectionIcons" name="{{data.icon}}"></ion-icon>
            <ion-label class="selectionLabels" >{{data.title}}</ion-label>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
