<ion-header>

</ion-header>
<ion-content>
  <div class="container">
    <ion-button *ngFor="let d of data;">

    </ion-button>
    <!-- <ion-button>
      <ion-icon name="{{data[0].icon}}"></ion-icon>
      {{data[0].title}}</ion-button>
    <ion-button>
      <ion-icon name="{{data[1].icon}}"></ion-icon>
      {{data[1].title}}</ion-button>
    <ion-button>
      <ion-icon name="{{data[2].icon}}"></ion-icon>
      {{data[2].title}}</ion-button>
    <ion-button>
      <ion-icon name="{{data[3].icon}}"></ion-icon>
      {{data[3].title}}</ion-button>
    <ion-button>
      <ion-icon name="{{data[4].icon}}"></ion-icon>
      {{data[4].title}}</ion-button>
    <ion-button>
      <ion-icon name="{{data[5].icon}}"></ion-icon>
      {{data[5].title}}</ion-button> -->
  </div>
</ion-content>