<ion-content>
  <div class="hcContent" >
  <ion-grid class="hcinsideGrid">
    <ion-row>
      <ion-col size="12">
        <ion-img [src]="logoSrc" class="hcLogo"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 40px;">
      <ion-col>
        <ion-label class="hcMorUl" style="text-decoration: none;">
          Şifremi Unuttum
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-input class="hcInputs" placeholder="E-Mail" type="mail"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <ion-button routerLink="/home" class="hcButton">
          Yeni Şifre Gönder
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label routerLink="/login" class="hcMorUl">Giriş Sayfası</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
<ion-footer class="hcFotter"  *ngIf="!keyboardVisible">
  <a class="hcFooterButtons" href="https://www.facebook.com/hesapcini">
    <ion-icon class="icons" size="large" name="logo-facebook"></ion-icon>
  </a>
  <a class="hcFooterButtons" href="https://www.instagram.com/hesapcini/">
    <ion-icon class="icons" size="large"  name="logo-instagram"></ion-icon>
  </a>
  <a class="hcFooterButtons" href="https://twitter.com/hesapcini">
    <ion-icon class="icons" size="large"  name="logo-twitter"></ion-icon>
  </a>
  <a class="hcFooterButtons" href="https://www.youtube.com/channel/UClKF42WwP7UzGjtcXOpfx0g">
    <ion-icon class="icons" size="large"  name="logo-youtube"></ion-icon>
  </a>
</ion-footer>
