<ion-content>
  <div class="cont">
    <div class="content" >
    <div class="insideFrame">
      <div class="logoFrame">
        <ion-img class="logo" [src]="logoSrc"></ion-img>
      </div>
      <div class="inputsFrame">
        <input class="inputss" placeholder="E-Mail" type="text">
      </div>
      <div class="buttonFrame">
        <button routerLink="/home" class="loginButton">
          Mail Gönder
        </button>
      </div>
      <div class="linksFrame">
        <div class="navigationLinks">
          <a routerLink="/login" class="navigationLink" for="">Giriş Ekranı</a>
        </div>
      </div>
    </div>
  </div>
  </div>  
</ion-content>
<ion-footer class="footer">
  <div class="navigationButtons" >
    <a class="navButtons" href="https://www.facebook.com/hesapcini">
      <ion-icon class="icons" size="large" name="logo-facebook"></ion-icon>
    </a>
    <a class="navButtons" href="https://www.instagram.com/hesapcini/">
      <ion-icon class="icons" size="large"  name="logo-instagram"></ion-icon>
    </a>
    <a class="navButtons" href="https://twitter.com/hesapcini">
      <ion-icon class="icons" size="large"  name="logo-twitter"></ion-icon>
    </a>
    <a class="navButtons" href="https://www.youtube.com/channel/UClKF42WwP7UzGjtcXOpfx0g">
      <ion-icon class="icons" size="large"  name="logo-youtube"></ion-icon>
    </a>
  </div>
</ion-footer>
