/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.inputs {
  color: black;
  font-weight: bold;
  font-size: small;
  height: 85%;
  max-height: 50px;
  aspect-ratio: 6;
  max-width: 50%;
  min-width: 80%;
  background-color: rgba(0, 0, 0, 0.05);
  border-width: 2px;
  border-color: #fc9c1c;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.my-custom-class {
  --background: transparent;
  --box-shadow: transparent;
  --backdrop-opacity: 0;
  --width: 220px;
}

ion-list {
  --background: white;
  background-color: white;
}

ion-grid {
  background-color: white;
  --background: white;
}

ion-row {
  background-color: white;
  --background: white;
}

ion-col {
  background-color: white;
  --background: white;
}

ion-content {
  height: auto !important;
}


/////////////////////////////////////////////////////////////////////////////////////////14,06,2022 Yeni Css

.hc-divcontent {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hc-insideFrame {
  height: 80%;
  align-self: center;
  display: flex;
  aspect-ratio: 0.6;
  flex-direction: column;
  min-width: 220px;
}

.hc-logoFrame {
  position: relative;
  width: 100%;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hc-formtitle {
  color: #6e2798;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 5px;
}

.hc-logo {
  width: 60%;
  aspect-ratio: 1;
}

.hc-inputsFrame {
  width: 100%;
  flex: 0.6;
  justify-content: center;
  gap: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hc-searchInputFrame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.hc-inputs {
  display: flex;
  color: black;
  font-weight: bold;
  font-size: small;
  min-height: 50px;
  height: fit-content;
  border-width: 1px;
  border-color: transparent;
  border-bottom-color: #fc9c1c;
  border-style: solid;
  border-color: #fc9c1c;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: white;
}

.hc-inputs::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: medium;
  color: rgba(0, 0, 0, 0.3);
  background-color: white;
}

.hc-inputs:focus {
  background-color: white;
}

.hc-buttonFrame {
  width: 100%;
  flex: 0.25;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hc-buttonFrame-password {
  width: 100%;
  flex: 0.23;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hc-linksFrame {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hc-navigationLinks {
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hc-navigationText {
  color: #fc9c1c;
}

.hc-navigationLink {
  font-weight: 600;
  color: #6E2798;
  text-decoration: underline;
}

.hc-loginButton {
  color: white;
  font-weight: lighter;
  font-size: medium;
  height: 75%;
  aspect-ratio: 5;
  max-width: 60%;
  min-width: 55%;
  border-width: 0ch;
  border-radius: 5px;
  background-color: #6E2798;
}

.hc-navigationButtons {
  border-style: solid;
  border-color: transparent;
  border-top-color: #fc9c1c;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 70px;
  bottom: 0%;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 0;
  background-color: #6E2798;
  gap: 20px;
}

.hc-navButtons {
  height: 40%;
  aspect-ratio: 1;
}

.hc-socialmediaicons {
  color: white;
}




/////////////////////////////// anamenü
.cLogo {
  height: 100%;
}

.underLogo {
  margin: auto;
  width: 80%;
  // margin-right: 10%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 70px;
}

.userName {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.logoFrame {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  background-color: #6E2798;

}

.active {}

.active-parent {}

ion-thumbnail {
  height: 40px;
  width: 40px;
}

.morYazi {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: small;
  margin-left: 10px;
  color: #444444;
}

.turuncuYazi {
  font-weight: bold;
  font-size: small;
  margin-right: 10px;
  color: #444444;
}

.icon {
  font-weight: bolder;
  font-size: large;
  color: #fc9c1c;
}

.navigationLinks {
  gap: 5px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.navigationLink {
  font-weight: 600;
  color: #6E2798;
}

.navigationText {
  color: #fc9c1c;
}

.navigationButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 57px;
  bottom: 0%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #112D4E;
  // background-color: white;
}

.navButtons {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  aspect-ratio: 1;

}

.icons {

  color: white;
}

.inputs {
  color: white;
  font-weight: bold;
  font-size: small;
  height: 85%;
  aspect-ratio: 6;
  max-width: 50%;
  min-width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  border-width: 2px;
  border-color: #fc9c1c;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.searchFrame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  flex-direction: column;
}

.hc-searchicon {
  color: white;
  margin-left: 10px;
}

.logoYazi {
  height: 90%;
  width: 100%;
}

.logoo {
  width: 100%;
  height: 100%;
  display: flex;
}

.navigationButtons1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  background-color: #6E2798;
}

.navButtons1 {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  border-color: rgba(255, 255, 255, 0.1);
}

.personIcon {
  height: 30px;
  width: 30px;
  color: white;
}

.logoLeft {
  height: 100%;
  aspect-ratio: 1;
}

.logoRight {
  height: 100%;
}

.imageF {
  width: 70%;
  height: 70%;
}

// ion-app{
//   --ion-background-color:white;
// }
// ion-item{
//   height: 50px;
//   --ion-width: 100%;
//   --ion-background-color:transparent;
//   --background:white;
// }
// ion-menu-toggle{
//   --ion-background-color:transparent;
// }
.list {
  background-color: red;
}

.logoF {
  border-radius: 10px;
  border-style: solid;
  height: 60px;
  font-size: xx-large;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: white;
  flex-direction: column;
  border-width: 1px;
  width: 60px;
  margin: auto;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.labelF {
  font-size: large;
  width: 60%;
  margin: auto;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item-content {
  background-color: #ffffff;
}

.checkBoxFrame {
  color: white;
  font-size: small;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  height: 40px;
  align-self: flex-end;
  margin-right: 5px;
  text-align: center;
}

ion-checkbox {
  --ion-background-color: transparent;
  --ion-color: transparent;
}

.scroller {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  flex: 1;
}

.checkBox {
  --background: #6E2798;
  color: #6E2798;
  background-color: #6E2798;
  --background-checked: #fc9c1c;
  --border-color: #fc9c1c;
  --border-color-checked: #fc9c1c;
}

////////// liste css leri 
.hc-listicerikFrame {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.hc-listbottomFrame {
  width: 100%;
  position: absolute;
  bottom: 0%;
  height: 51px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hc-listaddIcon {
  font-size: xx-large;
  font-weight: bolder;
}

.hc-listaddButton {
  width: 65%;
  height: 40px;
  font-size: small;
  font-weight: bold;
  --background: #6E2798;
}

.hc-listsearchInputFrame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.hc-listcontainer {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hc-listoutsideFrame {
  overflow: hidden;
  font-size: medium;
  font-weight: bold;
  position: relative;
  margin: auto;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-color: white;
  transition: 0.5s;
}

.hcOutsideFrame {
  overflow: hidden;
  font-size: medium;
  font-weight: bold;
  position: relative;
  margin: auto;
  width: 98%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-color: white;
  transition: 0.5s;
  width: 100%;

}

.hcCardContent {
  padding: 0%;
  margin: 0%;
  border-top-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.hc-listleftFrame {
  width: 6%;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  display: flex;
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  border-color: orange;
  background-color: #6E2798;
  color: orange;
  transition: 0.5s;

}

.hc-listfisNo {
  font-size: medium;
  font-weight: bold;
  writing-mode: vertical-rl;
}

.hc-listrightFrame {
  position: absolute;
  height: 100%;
  width: 6%;
  justify-content: center;
  align-items: center;
  display: inline-block;
  top: 0%;
  right: 0%;
  text-align: center;
  display: flex;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-color: orange;
  background-color: #6E2798;
  color: orange;
  transition: 0.5s;
}

.hc-listmiddleFrame {
  width: 88%;
  height: max;
  display: flex;
  color: black;
  transition: 0.5s;
  flex-direction: column;
  font-size: small;
  font-weight: 400;
  position: relative;
  justify-content: space-between;
}

.hc-listfisInfoFrame {
  position: static;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.hc-topRigthText {
  opacity: 0;
  transition: 0.5s;
  height: 50%;
  font-size: small;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hc-listrightFrame:hover~.hc-listmiddleFrame>.hc-listtopFrame>.hc-topRigthText {
  opacity: 1;
}

.hc-listCariLeftFrame {
  font-size: 50px;
  color: white;
  min-height: 80px;
  min-width: 20%;
}

.hc-listtopFrame {
  margin-top: 10px;
  width: 95%;
  height: 25%;
  max-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

//kodu, ünvanı,bakiye,adres
.hc-listinsideFrames {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  gap: 5px;
  flex: 1;
  height: fit-content;
  border-style: solid;
  border-width: 0px;
  border-right-width: 0px;
}

.hc-listinsideFrames2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  gap: 5px;
  flex: 1;
  height: 0px;
  max-width: 20%;
  min-width: 20%;
  aspect-ratio: 1;
  height: 0px;
}

.hc-listrightFrame:hover~.hc-listmiddleFrame>.hc-listselectionMenu>.hc-listinsideFrames2 {
  height: fit-content;
}

.hc-listbaslik {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: small;
  font-weight: 200;
  transition: 0.5s;
  color: black;
  
}

.hc-listicerik {
  height: 50%;
  font-size: small;
  font-weight: bold;
  text-align: center;
  display: flex;
  transition: 0.5s;
  color: black;
  justify-content: center;
}

.hc-listcariAd {
  transition: 0.5s;
  font-weight: bolder;
  color: #6E2798;
  font-size: medium;
}

.hc-listtarih {
  font-weight: bold;
  font-size: small;

}

.hc-listinsideFrame {
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: 0.5s;
}

.hc-listselection {
  height: 100%;
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  border-color: rgba(255, 255, 255, 0.5);
  flex: 0.7;
  display: flex;
  font-size: x-large;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.hc-listselectionMenu:has(.selection:hover) {
  background-color: #fc9c1c;
}

.hc-listselectionIcons {
  height: 50%;
  display: flex;
  color: white;
  font-size: x-large;
}

.hc-listselectionLabels {
  display: flex;
  color: white;
  font-size: small;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.hc-listselectionMenu {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: fit-content;
  color: white;
  background-color: #6E2798;
  bottom: 0%;
  opacity: 0;
  margin-top: 5px;
  transition: 0.5s;
  visibility: hidden;
}

.hc-cariSelectionMenu {
  position: absolute;
  display: flex;
  width: 0%;
  right: 6%;
  height: 75%;
  color: white;
  background-color: #6E2798;
  bottom: 0%;
  transition: 0.5s;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.hc-listrightFrameTop {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  border-color: #fc9c1c;
  color: #6E2798;
  right: 0%;
  bottom: 0%;
  background-color: #6E2798;
  position: absolute;
  opacity: 0;
}

.hc-grid {
  display: flex;
  background-color: #6E2798;
  height: 0px;

  ion-row {
    height: 0px;
  }

  ion-col {
    height: 0px;
    transition: 0.5s;
  }
}

.hc-listrightFrame:hover~.hc-listmiddleFrame>.hc-listselectionMenu {
  height: fit-content;
  visibility: visible;
  opacity: 1;
}

.hc-listrightFrame:hover~.hc-listmiddleFrame>.hc-listselectionMenu>.hc-grid {
  ion-row {
    height: 33.33%;
  }

  ion-col {
    height: auto;
  }

  height: auto;
}

// .hc-listrightFrame:hover~.hc-listmiddleFrame>.hc-listselectionMenu>.hc-grid>.hc-selectionMenuParts {
//   // min-height: 120px !important;
//   // min-width: 120px !important;
//   // height: 120px !important;
//   // width: 120px !important;
// }

.hc-listrightFrame:hover~.hc-listmiddleFrame>.hc-listfisInfoFrame>.hc-listinsideFrames>.hc-listicerik {
  color: #fc9c1c;
}

.hc-listrightFrame:hover~.hc-listmiddleFrame>.hc-listtopFrame>.hc-listcariAd {
  color: #fc9c1c;
}

.hc-listrightFrame:hover~.hc-listmiddleFrame>.hc-listtopFrame>.hc-listtarih {
  color: #fc9c1c;
}

.hc-listrightFrame:hover~.hc-listmiddleFrame {
  background-color: white;
}

.hc-listcariAd {
  font-weight: bolder;
  color: #6E2798;
  font-size: medium;
}

.hc-listtarih {
  font-weight: bold;
  font-size: small;
  margin-right: 5px;
  transition: 0.5s;
}

.hc-bottomInfoFrame {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: x-small;
  transition: 0.5s;
  font-weight: bolder;
  height: 25%;
}

.hc-gonderButton {
  background-color: #6E2798;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.hc-selectionMenuParts {
  max-width: 0px;
  max-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fc9c1c;
  // position: relative;
  // min-width: 50px !important;
  // min-height: 100%;
  // background-color: red;
  // color: white;
  // text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // font-size: small;
  // flex-direction: column;
  // flex-wrap: nowrap;
  // word-wrap: break-word;
}

.hc-listrightFrame:hover~.hc-cariSelectionMenu {
  width: 74%;
  visibility: visible;
  opacity: 1;
}

.hc-dateInputs {
  border-width: 1px;
  border-color: #fc9c1c;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  max-width: 100%;
  max-height: 40px;
  min-height: 40px;
  height: 100%;
  --color: black;
  border-style: solid;
  border-width: 1px;
  border-color: #fc9c1c;
  --background: white;
}

.hc-rows {
  position: relative;
  min-width: 80%;
  height: clamp(50px, 10%, 70px);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.hc-inputs {
  width: 100%;
  border-width: 1px;
  border-color: #fc9c1c;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  max-height: fit-content;
  max-width: 100%;
  min-height: clamp(40px, 100%, 60px);

  --color: black;
  border-style: solid;
  border-width: 1px;
  border-color: #fc9c1c;
  display: flex;
  flex-direction: row;
}

.inputPlaceHolders {
  z-index: 10;
  color: #6E2798;
  font-size: small;
  font-weight: bold;
  background-color: white;
  position: absolute;
  left: 5px;
  top: -5px;
}

.dateText {
  font-size: small;
  color: black;
  font-weight: bold;
}

.hc-filterButton {
  text-transform: none;
  font-size: small;
  font-weight: bold;
  width: 80%;
  margin-left: 10%;
  --background: #6E2798;
}

.hc-lines {
  width: 80%;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.w-90 {
  width: 90%;
}

.hc-cekText {
  font-size: small;
}

.hc-cekTopFrame {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0ch;
  border-bottom-width: 2px;
  border-radius: 20px;
  border-color: #fc9c1c;
  overflow: hidden;
}

.hc-headerContainer {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: #fc9c1c;
}

.hc-cekTopLeftFrame {
  width: 150px;
  height: 150px;
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.hc-cekImg {
  width: 70px;
  aspect-ratio: 1;
}

.hc-cekMiddleFrame {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px
}

.hc-cekToplines {
  margin: 0px;
  color: black;
  border-color: rgba(0, 0, 0, 0.2);
  gap: 10px;
  width: 90%;
}

.hc-cekTopBaslik {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: black;
}

.hc-cards {
  --background: #6E2798;
}

.hc-caribottomLine {
  height: 20px;
  background-color: #ffffff;
  width: 100%;
  margin: auto;
  justify-content: flex-end;
  display: flex;
  color: #6E2798;
  text-align: center;
  align-items: center;
}

.hc-cariAddButton {
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e2798;

}

.hc-addIcon {
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}

.hc-buttonContainer {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.hc-addButton {
  width: clamp(200px, 80%, 250px);
  ;
  height: 100%;
  --background: #6E2798;
  text-transform: none;
}

.hc-centeredTop {
  gap: 10px;
  margin-top: 5px;
}

.bottom {
  height: 10px;
  width: 100%;
  background-color: #6E2798;
}

.hc-sehirlerFrame {
  min-height: 40px;
  width: clamp(300px, 85%, 400px);

}

.hc-sehirlerFrame:active {
  background-color: #fc9c1c;
}

.hc-sehirLabel {
  font-size: small;
  font-weight: bold;
}

.hc-listoptions {
  pointer-events: none;
  color: #fc9c1c;
  font-size: xx-large;
}

.hc-popover {
  --max-width: 50%;
  --backdrop-opacity: 0.5;
  --background: rgba(0, 0, 0, 0.2);
}

.hc-cariGrid {
  width: clamp(300px, 80%, 600px);
  // width: 100%;
  margin-top: 10px;
  background: transparent;

  ion-col {
    background: white;
  }

  ion-row {}
}

.hc-toggle {
  --background: rgba(0, 0, 0, 0.2);
  --background-checked: #6E2798;
}

.hc-segment {
  color: #6E2798;
  text-transform: none;
  font-size: small;
  font-weight: bold;
}

::part(indicator-background) {
  background-color: #fc9c1c;
}

.hc-cariLeftFrame {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.s {
  font-size: small;
}

.t-m {
  max-height: 40px !important;
  background-color: white;
}

.borderN {
  border-style: none;
}

.radioItem {
  --border-style: none;
  --transition: none;
  display: flex;
}

.hc-projeTotalsFrame {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-width: 0px;
  border-color: #fc9c1c;
  margin-top: 10px;
  width: 98%;
  margin: auto;
  height: clamp(100px, 10%, 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.minimize {
  height: clamp(40px, 8%, 70px);
  // background-color: #112D4E;

}

.r {
  color: red;
}

.g {
  color: green;
}

.b {
  color: blue;
}

.o {
  color: orange;
}

.bold {
  font-weight: bold;
}

.sizeM {
  font-size: medium;
}

.hc-projeButton {
  margin: auto;
  width: clamp(300px, 90%, 500px);
}

.contentFrame {
  margin: auto;
  width: clamp(350px, 90%, 550px);
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col {
  border-style: solid;
  border-width: 0ch;
  border-right-width: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: small;
  font-weight: bold;
}

.left-w {
  border-left-width: 1px;
}

.noWidth {
  border-width: 0px;
}

.bgR {
  background-color: red;
}

.bgG {
  background-color: green;
  ;
}

.bgO {
  background-color: orange;
}

.bgB {
  background-color: blue;
}

.hc-projeGrid {
  font-size: small;
  background-color: transparent;

  ion-col {
    background-color: transparent;
    --background: transparent;
  }

  ion-row {
    background-color: transparent;
    --background: transparent;
  }
}

.bg-white {
  background-color: white;
}

.hc-projeCols {
  display: flex;
  justify-content: center;
  align-items: center;
  // border-style: solid;
  // border-radius: 10px;
  // border-width: 0px;
  // border-bottom-width: 2px;
}

.hc-inputsIcon {
  font-size: 20px;
  color: #6E2798;
}

.hc-inputsIconFrame {
  height: 100%;
  aspect-ratio: 1;
  right: 6px;
  top: 6px;
  z-index: 22;
  font-size: 20px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.with-icon {}

.hc-frameSplitter {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  word-wrap: break-word;

}

.align-b {
  align-items: flex-end;
}

.align-t {
  align-items: flex-start;
}

.hc-totalLabel {
  position: absolute;
  display: flex;
  bottom: 2px;
  right: 10px;
  font-size: small;
  font-weight: bold;
}

.hcSatisCol {
  position: relative;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items:center;
  height:fit-content;
  flex-wrap: nowrap;
  display: flex;
  word-wrap:break-word;
}

.hcRows{
  min-height: 100px;
  height: fit-content;
}

.bgM{
  background-color: #6e2798;
}
.MpurpleB{
  color: #6e2798;
  font-size: medium;
  font-weight: bold;
}
.SblackB{
  color: black;
  font-size: small;
  font-weight: bold;
}
.ul{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.button1{
  display: flex;
  align-self: center;
  width: 200px;
  height: 200px;
  margin: 0%;
  padding: 0%;
}
.rightbottomDiv{
  height: 50%;
  width: 3px;
  display: flex;
  background-color: #ffffff;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: visible;
  justify-content: center;
}
.circle{
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #6E2798;
  position: absolute;
}
.hcAlignCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}




//------------------------------------------------------------------------------
.hcContent{
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: medium;
  font-weight: bold;
  background-color: white;
  ion-col{
    padding: 0%;
    margin: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  ion-row{
    height: fit-content;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }
}
.hcLogo{
  width: 70%;
  display: flex;
  max-width: 200px;
  margin: auto;
}
.hcInputs{
  display: flex;
  margin: auto;
  width: clamp(280px,80%,350px);
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color:#fc9c1c;
}

.hcinsideGrid{
  height: 80%;
  align-self: center;
  display: flex;
  aspect-ratio: 0.6;
  flex-direction: column;
  min-width: 300px;
  gap:1px;
}
.hcButton{
  display: flex;
  margin: auto;
  --background:#6E2798;
  text-transform: none;
  width: clamp(220px,60%,300px);
}
.hcMorUl{
  color: #6e2798;
  text-decoration: underline;
}
.hcTuruncuLabel{
  color: #fc9c1c;
  font-weight: 400;
}
.hcBottomFrame{
  position: absolute;
  bottom: 0%;
  height: fit-content;
  width: 100%;
  z-index: 0;
}
.hcFotter{
  border-style: solid;
  border-color: transparent;
  border-top-color:#fc9c1c;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 70px;
  bottom: 0%;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 0;
  background-color: #6E2798;
  gap: 20px;
}
.hcFooterButtons{
  height: 40%;
  aspect-ratio: 1;
}