<ion-header>

</ion-header>
<ion-content>
  <div class="hc-container" style="margin-top: 10px;gap:5px;display: flex;flex-direction: column;">
    <div class="hc-listoutsideFrame hc-sehirlerFrame" style="min-height: 50px;">
      <div class="hc-listleftFrame" style="background-color: #fc9c1c;">
      </div>
      <div class="hc-listmiddleFrame">
        <div class="hc-listinsideFrames" style="border-width: 0px;">
          <ion-label class="hc-sehirLabel">Sehir Adı</ion-label>
        </div>
      </div>
      <div class="hc-listrightFrame" style="background-color: #fc9c1c;">
      </div>
    </div>

  </div>
</ion-content>