<div class="cont">
  <div class="content">
    <div class="insideFrame">
      <div class="logoFrame" style="background-color: white;">
        <ion-img class="logo" [src]="logoSrc">
  
        </ion-img>
      </div>
      <div class="inputsFrame">
        <input class="inputss" placeholder="Kullanıcı Adı" type="text">
        <input class="inputss" placeholder="Ad Soyad" type="text">
        <input class="inputss" placeholder="E-Mail" type="text">
        <input class="inputss" placeholder="Şifre" type="password">
      </div>
      <div class="buttonFrame">
        <button class="loginButton" (click)="register()">
          Kayıt Ol
        </button>
      </div>
      <div class="linksFrame">
        <div class="navigationLinks">
          <label class="navigationText" for="">Hesabın var mı?
            <a routerLink="/login" routerLinkActive="active" class="navigationLink" for="">Giriş Yap</a></label>
          <label class="navigationText" for="">Devam ettiğinde<br>
          <a routerLink="/register" routerLinkActive="active" class="navigationLink" for="">HesapCini Kullanıcı Sözleşmesi</a>ni<br>kabul etmiş olursun.</label>
        </div>
        <div class="navigationButtons">
          <a class="navButtons" href="https://www.facebook.com/hesapcini">
            <ion-icon class="icons" size="large" name="logo-facebook"></ion-icon>
          </a>
          <a class="navButtons" href="https://www.instagram.com/hesapcini/">
            <ion-icon class="icons" size="large"  name="logo-instagram"></ion-icon>
          </a>
          <a class="navButtons" href="https://twitter.com/hesapcini">
            <ion-icon class="icons" size="large"  name="logo-twitter"></ion-icon>
          </a>
          <a class="navButtons" href="https://www.youtube.com/channel/UClKF42WwP7UzGjtcXOpfx0g">
            <ion-icon class="icons" size="large"  name="logo-youtube"></ion-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>